**
!promethee/
!promethee/app/**
!promethee/config/**
!promethee/modules/Promethee/**
promethee/modules/DisposableAirports
promethee/modules/DisposableBasic
promethee/modules/DisposableSpecial
promethee/modules/SPTransfer
promethee/modules/Vacentral
promethee/modules/VMSAcars
!promethee/resources/**
!promethee/public/**
!promethee/bootstrap/*.php
!promethee/server.php
!promethee/artisan
!promethee/composer.json
!promethee/composer.lock
!promethee/backup_after_import.zip
!promethee/db_backup.sql
!promethee/vendor/**
!dev/**
!acars/**
acars/bin/
acars/obj/
