**
!prometheus/
!prometheus/app/**
!prometheus/config/**
!prometheus/modules/**
!prometheus/resources/**
!prometheus/public/**
!prometheus/bootstrap/*.php
!prometheus/server.php
!prometheus/artisan
!prometheus/composer.json
!prometheus/composer.lock
!prometheus/backup_after_import.zip
!prometheus/db_backup.sql
!prometheus/vendor/**
!dev/**
!acars/**
acars/bin/
acars/obj/
