# Ignore everything so if we update via git, nothing is overwritten

/*
/*/
!.gitignore
!/Awards
!/Importer
!/Installer
!/Updater
!/Vacentral
!/ModulesManager
!/Promethee/
/Promethee/*
!/Promethee/Database/
/Promethee/Database/*
!/Promethee/Database/migrations/
/Promethee/Database/migrations/*
!/Promethee/Database/migrations/*.php
